* {box-sizing: border-box; font-family: Futura, "Trebuchet MS", Arial, sans-serif;}
body {margin: 0;}
.onecol{width: 8.33%; float: left;}
.twocol{width: 16.66%; float: left;}
.threecol{width: 24.99%; float: left;}
.fourcol{width: 33.33%; float: left;}
.fivecol{width: 41.66%; float: left;}
.sixcol{width: 49.99%; float: left;}
.sevencol{width: 58.33%; float: left;}
.eightcol{width: 66.66%; float: left;}
.ninecol{width: 74.99%; float: left;}
.tencol{width: 83.33%; float: left;}
.elevencol{width: 91.66%; float: left;}
.twelvecol{width: 100%; float: left;}
#continer {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

#navbar {
    background-color: #0F1E3C;
    overflow: hidden;
}
#navbar a{
    display: block;
    text-decoration: none;
}
h1 {
    font-size: 2.2em;
    text-align: center;
}
h1 a {
    text-decoration: none;
    color: #DD362B;
    text-shadow: 2px 2px #fff;
}
h1 a:hover {
    text-align: center;
    text-decoration: none;
    transition: 0.8s;
}
h2 {
    font-size:1.9em;
    text-align: center;
    padding: 0;
    margin-top: 38px;
    overflow: hidden;
    white-space: nowrap;
}
h2 a {
    display: block;
    text-decoration: none;
    font-size: 0.6em;
    text-align: center;
    color: white ;
}
h2 a:hover {
    display: block;
    text-decoration: none;
    font-size: 0.6em;
    text-align: center;
    transition: 0.8s;
    color: #444;
}
h3 {
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
}
#about-desc {
    font-size: 1.5em;
    float: left;
    padding: 0;

}
.heightspace {
    min-height: 25px;
}
.profile-picture {
    background-color: #6e7376;
}
#pp {
    border-radius: 15%;
    margin: 45px 0;
    max-width: 362px;
    max-height: 346px;
}
div a img {
    box-sizing: inherit;
    float: left;
    padding: 12px;
}
#finnish-up {
    background-color: #444;
    margin-top: 20px;
}
h4 {
    color: #ECECEC;
    font-size: 1.5em;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    padding: 0;
    margin: 10px;
}
@media only screen and (max-width: 1220px) {
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
    h1 a {text-shadow: 0.7px 0.7px #fff;}
    h2 {
        font-size: 1em;
        margin-top: 20px;
    }
    h3, h4, a{
        font-size: 1em !important;
    }
    #PP {
        margin: 45px 0;
    }
    #about-desc {
        font-size: 1.2em;
    }
    .sticky + .content {
      padding-top: 80px !important;
    }
}
@media only screen and (max-width: 745px) {
    h1 {
        font-size: 0.8em;
        text-align: center;
    }
    h1 a {text-shadow: 0.5px 0.5px #fff;}
    h2 {
        font-size: 0.6em;
        margin-top: 11px;
    }
    h3, a, h4{
        font-size: 0.8em !important;
    }
    #about-desc {
        font-size: 0.65em;
        min-height: 120px;
        min-width: 120px;
    }
    #pp {
            margin: 15px 0;
    }
    .sticky + .content {
      padding-top: 33px !important;
    }
}
.content {
  padding: 16px 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 107px;
}
#img-container div img {
    padding: 15px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;/
    flex-wrap: wrap;
    padding: 1px;
}
.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 100%;
    padding: 0 1px;
}

.column img {
    vertical-align: middle;
}
