* {box-sizing: border-box; font-family: Futura, "Trebuchet MS", Arial, sans-serif;}
body {margin: 0;}
.onecol{width: 8.33%; float: left;}
.twocol{width: 16.66%; float: left;}
.threecol{width: 24.99%; float: left;}
.fourcol{width: 33.33%; float: left;}
.fivecol{width: 41.66%; float: left;}
.sixcol{width: 49.99%; float: left;}
.sevencol{width: 58.33%; float: left;}
.eightcol{width: 66.66%; float: left;}
.ninecol{width: 74.99%; float: left;}
.tencol{width: 83.33%; float: left;}
.elevencol{width: 91.66%; float: left;}
.twelvecol{width: 100%; float: left;}
#continer {
    max-width: 1440px;
    min-height: 1000px;
    width: 100%;
    margin: 0 auto;
}
.navbar {
    margin: 0 auto;
    overflow: hidden;
    text-decoration: none;
    display: block;
    background-color: #0F1E3C;
}
h1 {
    font-size: 2.5em;
    text-align: center;
}
h1 a {
    text-decoration: none;
    color: #DD362B;
    text-shadow: 2px 2px #fff;
}
h1 a:hover {
    text-align: center;
    text-decoration: none;
    transition: 0.8s;
}
h2 {
    font-size: 2em;
    text-align: center;
    padding: 0;
    margin-top: 43px;
    overflow: hidden;
    white-space: nowrap;
}
h2 a {
    display: block;
    text-decoration: none;
    font-size: 0.7em;
    text-align: center;
    color: white ;
}
h2 a:hover {
    display: block;
    text-decoration: none;
    font-size: 0.7em;
    text-align: center;
    transition: 0.8s;
    color: #444;
}
p {
    text-align: left;
}
.heightspace {
    min-height: 25px;
}
.profile-picture {
    background-color: #B5B5B5;
}
img {
    margin: 45px 0;
    max-width: 362px;
    max-height: 346px;
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 2em;
        text-align: center;
    }
    h2 {
        font-size: 1.5em;
        margin-top: 28px;
    }
    h3, a{
        font-size: 0.8em !important;
    }
    img {
            margin: 45px 0;
    }
}
@media only screen and (max-width: 745px) {
    h1 {
        font-size: 0.8em;
        text-align: center;
    }
    h2 {
        font-size: 0.6em;
        margin-top: 15px;
    }
    h3, a{
        font-size: 0.8em !important;
    }
    img {
            margin: 15px 0;
    }
}
